<div class="container">
    <h1>Your Amazing English!</h1>

    <div class="text-box row">
        <h2 >{{textos[1].text}}</h2>
        <button class="btn" id="read" (click)="buttonReadText()">
            <i class="fa fa-play fa-2x"></i>
        </button>
    </div>

    <div class="text-box">
        <h3>Experimente falar</h3>
        <h4 class="areatexto" id="areatextofalado">{{service.text}}</h4>
        <div class="botoes mt-4 text-center">
            <button type="button" id="btn-play" class="btn-play text-center " (click)="startService()">
                <i class="fa fa-microphone fa-2x"></i>
            </button>

            <button type="button" id="btn-stop" class="btn-stop text-center " (click)="stopService()">
                <i class="far fa-stop-circle "></i>
            </button>
        </div>
    </div>
</div>